Source: swh-model
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3 (>= 3.5) | python3-pyblake2,
               python3-all,
               python3-attr,
               python3-click,
               python3-dulwich,
               python3-hypothesis,
               python3-pytest,
               python3-setuptools,
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/DMOD/

Package: python3-swh.model
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Breaks: python3-swh.loader.core (<< 0.0.16~),
        python3-swh.loader.dir (<< 0.0.28~),
        python3-swh.loader.svn (<< 0.0.28~)
Description: Software Heritage data model
